name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions: { }

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        java-version:
        - 17
        - 21
    permissions:
      contents: read
    steps:
    - name: Checkout Repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag=v5.0.1
    - name: Set up Java
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # tag=v5.0.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: "temurin"
        cache: "maven"
    - name: Test
      run: mvn -B --no-transfer-progress clean install
    - name: Integration Test
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn -B --no-transfer-progress failsafe:integration-test
    - name: Upload Integration Test Results
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # tag=v4.6.2
      with:
        name: test-results-${{ matrix.java-version }}
        path: versatile-core/target/results/*.json
