name: CI

on: [push, pull_request]

permissions: { }

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        java-version:
        - 17
        - 21
    permissions:
      contents: read
    steps:
    - name: Checkout Repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag=v5.0.0
    - name: Set up Java
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # tag=v4.7.1
      with:
        java-version: ${{ matrix.java-version }}
        distribution: "temurin"
        cache: "maven"
    - name: Test
      run: mvn -B --no-transfer-progress clean install
    - name: Integration Test
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn -B --no-transfer-progress failsafe:integration-test
    - name: Upload Integration Test Results
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # tag=v4.6.2
      with:
        name: test-results-${{ matrix.java-version }}
        path: versatile-core/target/results/*.json
