name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions: { }

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        java-version:
        - 21
        - 25
    permissions:
      contents: read
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
      with:
        submodules: 'true'
    - name: Set up Java
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # tag=v5.1.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: "temurin"
        cache: "maven"
    - name: Test
      run: mvn -B clean install
    - name: Integration Test
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn -B failsafe:integration-test
    - name: Upload Integration Test Results
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # tag=v5.0.0
      with:
        name: test-results-${{ matrix.java-version }}
        path: versatile-core/target/results/*.json
