name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions: { }

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        java-version:
        - 21
        - 25
    permissions:
      contents: read
    steps:
    - name: Checkout Repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag=v6.0.2
      with:
        submodules: 'true'
    - name: Set up Java
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # tag=v5.2.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: "temurin"
        cache: "maven"
    - name: Test
      run: mvn -B clean install
    - name: Integration Test
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn -B failsafe:integration-test
    - name: Upload Integration Test Results
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # tag=v7.0.0
      with:
        name: test-results-${{ matrix.java-version }}
        path: versatile-core/target/results/*.json
